In [1]:
import pandas as pd

In [3]:
# we can create dataframe from any existing tabular structured like data, like dictionary, lists
people = {'name' : ['pavan', 'vasanth', 'abhishke'],
          'age' : [22, 23, 24],
          'city' : ['vinukonda', 'hyderabad', 'chennai']
         }

In [4]:
people['name']

['pavan', 'vasanth', 'abhishke']

In [6]:
df = pd.DataFrame(people)
df

       name  age       city
0     pavan   22  vinukonda
1   vasanth   23  hyderabad
2  abhishke   24    chennai

In [7]:
# accessing can be done 2 ways
df['name']

0       pavan
1     vasanth
2    abhishke
Name: name, dtype: object

In [8]:
df.name

0       pavan
1     vasanth
2    abhishke
Name: name, dtype: object

In [9]:
df[['name', 'age']]

       name  age
0     pavan   22
1   vasanth   23
2  abhishke   24

In [10]:
# if we want to info abput columns
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [11]:
# we can use iloc to access rows also
df.iloc[0]

name        pavan
age            22
city    vinukonda
Name: 0, dtype: object

In [13]:
df.iloc[1, 1]

23

In [14]:
df.iloc[[0, 2], [0, 1]]

       name  age
0     pavan   22
2  abhishke   24

In [15]:
# we can use loc to get rows with labels
df.loc[0, 'name']

'pavan'

In [16]:
df.loc[[0, 2], ['name', 'city']]

       name       city
0     pavan  vinukonda
2  abhishke    chennai

In [18]:
# no we will do it for data frames
df = pd.read_csv('data/survey_results_public.csv')
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [19]:
pd.set_option('display.max_columns', 85)

In [20]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [21]:
df['Country']

0                United Kingdom
1        Bosnia and Herzegovina
2                      Thailand
3                 United States
4                       Ukraine
                  ...
88878                    Canada
88879                       NaN
88880                       NaN
88881                       NaN
88882                     Spain
Name: Country, Length: 88883, dtype: object

In [22]:
df.iloc[[0, 13], [0, 1, 2, 3]]

,Respondent,MainBranch,Hobbyist,OpenSourcer
0,1,I am a student who is learning to code,Yes,Never
13,14,I am a developer by profession,Yes,Less than once per year

In [23]:
df.loc[[1, 2, 3], ['Country', 'DevType']]

                  Country                                            DevType
1  Bosnia and Herzegovina  Developer, desktop or enterprise applications;...
2                Thailand  Designer;Developer, back-end;Developer, front-...
3           United States                              Developer, full-stack

In [24]:
df.loc[:100, 'Country']

0              United Kingdom
1      Bosnia and Herzegovina
2                    Thailand
3               United States
4                     Ukraine
                ...
96              United States
97     Bosnia and Herzegovina
98                      India
99                     Canada
100                   Estonia
Name: Country, Length: 101, dtype: object