We can create some basic useful arrays by using builtin functions as follows

In [1]:
import numpy as np

In [3]:
zero = np.zeros((3, 4))
zero

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [20]:
zero2 = np.zeros(shape = (2, 3), dtype = np.int8)
zero2

array([[0, 0, 0],
       [0, 0, 0]], dtype=int8)

In [21]:
one = np.ones((3, 4), dtype = np.int8)
one

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int8)

In [25]:
# We can even pass tuples or lists as datatypes
one2 = np.ones((2, 3)) * 7
one2

array([[7., 7., 7.],
       [7., 7., 7.]])

In [26]:
# we can use arange function which will be like alias as range function
matr = np.arange(2, 10, 2)
matr

array([2, 4, 6, 8])

In [29]:
#By default arange gives us 1d array, we can change it by reshaping it but no.of elements should be same
matr = np.arange(2, 10, 2)
matr

array([2, 4, 6, 8])

In [30]:
matr2 = matr.reshape(2, 2)
matr2

array([[2, 4],
       [6, 8]])

In [34]:
#linspace gives us equally spaced values with the mentioned number and it includes both start and stop
#Below one gives 10 equally spaced points in between 1, 10 and it include 1, 10
matr3 = np.linspace(1, 10, 10).reshape(5, 2)
matr3

array([[ 1.,  2.],
       [ 3.,  4.],
       [ 5.,  6.],
       [ 7.,  8.],
       [ 9., 10.]])